.html, body, section, div {
    margin: 0;
    padding: 0;
}
.topo{
    width: 100%;
    height: 70px;
    background-color: rgba(236, 225, 225, 0.5);
    position: fixed;
}
.logo{
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 150px;
}
.caixa{
    padding: 8px 15px 11px;
    color: black;
}
.fundo{
    background-image: url('imagem-fundo.jpg');
    background-size: cover;
    height: 100%;
    margin-top: 0;
}
.fundo h1{
    padding: 110px 0 0 0;
    margin-left: 150px;
    color: white;
    font-size: 2.125rem;
    margin-top: 0;
}
.fundo h2{
    padding: 290px 0 0 0;
    margin-left: 150px;
    color: white;
    font-size: 4.5rem;
    margin-top: 0;
    margin-right: 20%;
}
.fundo h3{
    margin-left: 150px;
    color: white;
    font-size: 1.5rem;
    margin-top: 0;

}
.btn-conta{
    text-decoration: none;
    border: 1px;
    padding: 14px 31px 21px;
    display: inline;
}